.cart-summary{

    background:white;
    
    padding:30px;
    
    border-radius:18px;
    
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    
    position:sticky;
    
    top:100px;
    
    }
    
    .cart-summary p,
    
    .cart-summary h5{
    
    display:flex;
    
    justify-content:space-between;
    
    margin:15px 0;
    
    }