.why-section{

    padding:80px 0;
    
    background:#F8FAF8;
    
    }
    
    .section-title{
    
    font-size:38px;
    
    font-weight:700;
    
    color:#2E7D32;
    
    }
    
    .section-subtitle{
    
    font-size:18px;
    
    color:#666;
    
    margin-top:10px;
    
    }
    
    .feature-card{
    
    background:#fff;
    
    padding:35px 25px;
    
    border-radius:18px;
    
    text-align:center;
    
    transition:.35s;
    
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    
    height:100%;
    
    }
    
    .feature-card:hover{
    
    transform:translateY(-10px);
    
    box-shadow:0 18px 35px rgba(0,0,0,.15);
    
    }
    
    .feature-icon{
    
    width:80px;
    
    height:80px;
    
    margin:auto;
    
    border-radius:50%;
    
    background:#E8F5E9;
    
    display:flex;
    
    justify-content:center;
    
    align-items:center;
    
    font-size:36px;
    
    color:#2E7D32;
    
    margin-bottom:25px;
    
    transition:.3s;
    
    }
    
    .feature-card:hover .feature-icon{
    
    background:#2E7D32;
    
    color:#fff;
    
    transform:rotate(10deg);
    
    }
    
    .feature-card h5{
    
    font-weight:700;
    
    margin-bottom:15px;
    
    }
    
    .feature-card p{
    
    color:#666;
    
    font-size:15px;
    
    line-height:1.6;
    
    }
    .section-title::after{

        content:"";
        
        display:block;
        
        width:80px;
        
        height:4px;
        
        background:#FFC107;
        
        margin:15px auto;
        
        border-radius:20px;
        
        }