/* ===================================
   Footer
=================================== */

.footer{
    background:linear-gradient(135deg,#1b4332,#081c15);
    color:#fff;
    padding:70px 0 25px;
    margin-top:80px;
}

.footer-logo{
    color:#ffc107;
    font-size:30px;
    font-weight:700;
    margin-bottom:20px;
}

.footer-description{
    color:#d5d5d5;
    line-height:1.8;
    margin-bottom:25px;
}

/* ==========================
   Trust Badges
========================== */

.trust-badges{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.trust-badges span{
    background:rgba(255,255,255,.08);
    padding:8px 15px;
    border-radius:30px;
    font-size:14px;
    transition:.3s;
}

.trust-badges span:hover{
    background:#ffc107;
    color:#222;
}

/* ==========================
   Headings
========================== */

.footer h5{
    font-weight:700;
    margin-bottom:22px;
    color:#fff;
}

/* ==========================
   Links
========================== */

.footer-links{
    list-style:none;
    padding:0;
    margin:0;
}

.footer-links li{
    margin-bottom:14px;
    color:#d7d7d7;
}

.footer-links a{
    color:#d7d7d7;
    text-decoration:none;
    transition:.3s;
}

.footer-links a:hover{
    color:#ffc107;
    padding-left:5px;
}

/* ==========================
   Social
========================== */

.social-links{
    display:flex;
    flex-direction:column;
    gap:14px;
}

.social-links a{
    display:flex;
    align-items:center;
    gap:10px;
    text-decoration:none;
    color:white;
    transition:.3s;
}

.social-links a i{
    font-size:20px;
    width:24px;
}

.social-links a:hover{
    color:#25D366;
    transform:translateX(6px);
}

/* ==========================
   Divider
========================== */

.footer hr{
    margin:40px 0 20px;
    border-color:rgba(255,255,255,.15);
}

/* ==========================
   Bottom
========================== */

.footer-bottom{
    text-align:center;
    color:#cfcfcf;
    font-size:15px;
}

.footer-bottom p{
    margin:4px 0;
}

/* ==========================
   Responsive
========================== */

@media(max-width:768px){

    .footer{
        text-align:center;
    }

    .trust-badges{
        justify-content:center;
    }

    .social-links{
        align-items:center;
    }

}