.empty-state{

    padding:70px;
    
    text-align:center;
    
    }
    
    .empty-state img{
    
    width:220px;
    
    margin-bottom:20px;
    
    opacity:.85;
    
    }
    
    .empty-state h3{
    
    color:#2E7D32;
    
    margin-bottom:10px;
    
    }
    .btn-primary{

        background:#2E7D32;
        
        border:none;
        
        border-radius:12px;
        
        padding:12px 28px;
        
        font-weight:600;
        
        transition:.3s;
        
        }
        
        .btn-primary:hover{
        
        transform:translateY(-3px);
        
        box-shadow:0 8px 20px rgba(46,125,50,.3);
        
        }