.address-card{

    background:white;
    
    border:2px solid #E5E7EB;
    
    border-radius:16px;
    
    padding:20px;
    
    margin-bottom:20px;
    
    cursor:pointer;
    
    transition:.3s;
    
    box-shadow:0 5px 18px rgba(0,0,0,.05);
    
    }
    
    .address-card:hover{
    
    border-color:#2E7D32;
    
    transform:translateY(-4px);
    
    }
    
    .address-card.selected{
    
    border-color:#2E7D32;
    
    background:#F3FFF5;
    
    }
    
    .address-header{
    
    display:flex;
    
    justify-content:space-between;
    
    align-items:center;
    
    margin-bottom:15px;
    
    }
    
    .default-badge{
    
    background:#2E7D32;
    
    color:white;
    
    padding:4px 10px;
    
    border-radius:20px;
    
    font-size:12px;
    
    }
    
    .address-card p{
    
    margin-bottom:6px;
    
    color:#555;
    
    }